@font-face {
    font-family: "Dm-REGULAR";
    src: url(../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}
@font-face {
    font-family: "Public-sans";
    src: url(../fonts/Public_Sans/PublicSans-VariableFont_wght.ttf);
}